<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<context:annotation-config></context:annotation-config>
	<!-- <bean id="heart" class="com.napier.it.AnnotationQualifier6.Heart"></bean> -->

	<bean id="humanheart"
		class="com.napier.it.AnnotationQualifier6.Heart">
		<property name="animal" value="humanheart"></property>
		<property name="noOfHeart" value="1"></property>
	</bean>
	<bean id="octopus"
		class="com.napier.it.AnnotationQualifier6.Heart">
		<property name="animal" value="octopus"></property>
		<property name="noOfHeart" value="3"></property>
	</bean>
	<bean id="human" class="com.napier.it.AnnotationQualifier6.Human"
		autowire="constructor">
		<!-- <property name="heart" ref="heart"></property> -->
	</bean>


</beans>



<!-- id you can give anything === go to google type spring xsd copy past 
	here -->
<!-- go to google check xsd with the context copy past -->