<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="airtel" class="com.napier.it.sim_assignment.AirtelSim"></bean>
	<bean id="idea" class="com.napier.it.sim_assignment.Idea"></bean>
	<bean id="jio" class="com.napier.it.sim_assignment.JioSim"></bean>

	<bean id="sim" class="com.napier.it.sim_assignment.User">
		<property name="usersim" ref="airtel"></property>
	</bean>
</beans>



<!-- id you can give anything === go to google type spring xsd copy past 
	here -->