<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mathCheatObject"
		class="com.napier.it.DependencyInjectionObjectType.MathCheat"></bean>

	<bean id="stu"
		class="com.napier.it.DependencyInjectionObjectType.Student">
		<property name="id" value="1"></property>
		<property name="mathCheat" ref="mathCheatObject"></property>
	</bean>

	<bean id="anotehrStu"
		class="com.napier.it.DependencyInjectionObjectType.AnotherStudent">
		<property name="cheat" ref="mathCheatObject"></property>
	</bean>



</beans>



<!-- id you can give anything === go to google type spring xsd copy past 
	here -->